/* Estilos de escritorio */

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 0px;
}

/* Estilos del header */

header {
    display: flex;
    justify-content: space-around;
    height: 44px;
    margin-top: 50px;
}

#lista-header {
    display: flex;
    list-style: none;
}

.lista-header-navegador {
    text-decoration: none;
    color: #242E52;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

.lista-header-navegador:hover {
    color: rgba(179, 178, 183, 1);
}

#logo {
    height: 40px;
    margin-right: -150px;
}

#hamburguesa {
    display: none;
}

a {
    text-decoration: none;
}

.boton-tipo-1 {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #F3603B;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    width: 134px;
}

button:hover {
    cursor: pointer;
    background-color: #ee9984;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#boton-inicio {
    margin-top: 10px;
}

/* Estilos del main */

h1 {
    color: #232c50;
    font-size: 58px;
    text-align: left;
    margin-right: 20%;
}

#div-main {
    display: flex;

}

/* Main lado izquierdo */

#campo-main-izquierda {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border: none;
    width: 50%;
    box-sizing: border-box;
    margin-left: 8%;
}

#subtitulo-main {
    box-sizing: border-box;
    margin-right: 58%;
    margin-top: -20px;
    color: #b9b9c1;
}

/* Main lado derecho */

#campo-main-derecha {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 150px;
    border: none;
}

#lista-section {
    display: flex;
    justify-content: space-around;
}

/* Estilos texto Manage izquierda*/

#texto-manage-izquierda {
    margin-top: 150px;
    margin-left: 3%;
    width: 35%;
    border: none;
}

#titulo-manage {
    color: #232851;
    font-size: 36px;
}

#subtitulo-manage-izquierda {
    margin-right: 52%;
    color: #b9b9c1;
}

/* Estilo texto Manage derecha */

#texto-manage-derecha {
    margin-top: 180px;
    width: 40%;
    border: none;
}

.numero-y-titulo {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.titulo-manage {
    margin-left: 30px;
    color: #323851;
}

.div-numero {
    width: 70px;
    height: 43px;
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-lista {
    margin-left: 18%;
    margin-right: 20%;
    color: rgba(179, 178, 183, 1);
}

/* Estilos tarjetas */

.barra-carrucel {
    display: none;
}

#titulo-h2-para-centrar {
    text-align: center;
    font-size: 40px;
    margin-top: 15%;
    color: rgba(36, 46, 83, 1);
    ;
}

#contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
}

.titulo-tarjetas {
    color: #3f4868;
}

/* Me tome la libertad de cambiar el color de fondo de las tarjetas a uno algo mas intenso, para que se vea mas claramente en la pagina*/

.tarjeta {
    background-color: #f8f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.tarjeta-tipo-2 {
    background-color: #f8f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.imagen-tarjeta {
    width: 100px;
    position: relative;
    bottom: 45px;
}

.subtitulo-tarjeta {
    color: #b9b9c1;
    text-align: center;
    margin: 0 5% 8%;
}

#boton-tarjetas {
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}

/* Estilos del section pre-footer*/

#seccion-pre-footer {
    background-color: #F3603B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#seccion-pre-footer h2 {
    color: #FFFFFF;
    font-size: 40px;
    width: 30%;
    margin-left: -10%;
}

#seccion-pre-footer button {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #FFFFFF;
    color: #F3603B;
    text-align: center;
    height: 50px;
    width: 134px;
    margin-left: 100%;
}

/* Estilos del footer*/

footer {
    background-color: rgba(30, 30, 38, 1);
    display: flex;
    justify-content: space-around;
}

#footer-imagenes {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    padding: 50px;
}

#iconos {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 50px;
    width: 10vw;
}

.color-iconos {
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}

.color-iconos:hover {
    color: #f25f3b;
}

#footer-navegador {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

#footer-navegador ul {
    list-style: none;
}

.lista-footer-navegador {
    color: #FFFFFF;
    padding: 0px 20px 20px 20px;
}

.lista-footer-navegador:hover {
    color: #f3613c;
}

#lista-footer-1 {
    margin-right: 200px;
}


#lista-footer-2 {
    margin-right: 50px;     
}

#footer-mail-copyright {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#email-input {
    border: none;
    border-radius: 50px;
    background: #FFFFFF;
    color: rgba(160, 160, 160, 1);
    height: 40px;
    width: 200px;
    padding-left: 20px;
    margin: 38px 10px 0px 0px;
}

#boton-Go {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #F3603B;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    width: 65px;
}

#boton-Go:hover {
    cursor: pointer;
    background-color: #ee9984;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#copyright-PC {
    color:rgba(140, 140, 148, 1);
    margin-top: 35%;
    margin-bottom: 20%;
}

#copyright-Mobile {
    display: none;
    color:rgba(140, 140, 148, 1);
    margin-top: 35%;
    margin-bottom: 20%;
}

/*   Estilos para Smartphones   */ 

@media (max-width: 375px) {
  
/* estilos mobile header  */
    header nav{
        display: none;
   } 

   #boton-N-1 {
       display: none;
   }

   #header-media-queries {
        
        justify-content: space-between;
   }

   #logo {
       height: 30px;
       margin-right: 40px;
   }

   #hamburguesa {
       display: block;
       height: 30px;
       justify-content: flex-end;
       margin-left: 40px;
   }

/* estilos mobile main  */

   #campo-main-derecha {
       width: 100%;
       margin: 0%;
       box-sizing: border-box;
   }

   #imagen-intro {
       box-sizing: border-box;
       width: 100%;
       margin-top: 0px;
   }

   #div-main {
       flex-direction: column-reverse;
       width: 100%;
   }

   #campo-main-izquierda {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 30px 0px 50px 0px;
   }

   h1 {
        font-size: 40px;
        align-items: center; 
        justify-content: center;     
        text-align: center;
        margin: 0; 
   }

   #subtitulo-main { 
        width: 100%;
        align-items: center; 
        justify-content: center;     
        text-align: center; 
        margin: 20px 0px 20px 0px;
   }

   #boton-inicio {
    align-items: center; 
    justify-content: center;     
    text-align: center; 
   }

/*  Estilos sección manage mobile  */

   #lista-section {
       flex-direction: column;
   }

   #titulo-manage {
        align-items: center; 
        justify-content: center;     
        text-align: center; 
   }

   #texto-manage-izquierda {
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        margin: 0px 0px 10px 0px; 
   }
   
   #subtitulo-manage-izquierda {  
        text-align: center;
        justify-content: center;
        margin: 0px 0px -60px 0px;
   }

   .div-numero {
       width: 15vw;
       margin-left: -8%;
       z-index: 1;
   }

   .numero-y-titulo {
    width: 100%;
    }

   .titulo-manage {
       font-size: 16px;
        width: 100%;
        background-color: #ffe7e1;
        height: 43px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        margin-left: -35px;
    }    

    #texto-manage-derecha {
        box-sizing: border-box;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .texto-lista {
        width: 100%;
        margin-left: 0;
    }

/* Estilos mobile de tarjetas */

    #titulo-h2-para-centrar {
        font-size: 35px;
    }

    .tarjeta-tipo-2 {
        display: none;
    }

    .tarjeta {
        width: 95vw;
    }

    .barra-carrucel {
        display: inline;
    }

    #contenedor-carrucel {
        margin-left: 139px;
        margin-bottom: 25px;
    }

/* estilos mobile pre-footer */

    #seccion-pre-footer {
        flex-direction: column;
    }

    #seccion-pre-footer h2 {
        width: 90vw;
        text-align: center;
        margin-left: 12px;
        margin-top: 100px;
    }

    #boton-pre-footer {
        margin-left: -260px;
        margin-bottom: 100px;
    }

/* estilos mobile footer */

    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-mail-copyright {
        margin-left: 50px;
    }

    #iconos {
        display: flex;
        order: -1;
        margin-bottom: 50px;
        width: 80vw;
        margin-left: -20px;
        margin-top: -50px;
    }

    #logo-blanco {
        height: 40px;
        width: 200px;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: -100px;
    }

    #footer-navegador {
        box-sizing: border-box;
        width: 100%;
        display: flex;
    }

    #lista-footer-1 {
        margin: 0px 70px 0px 0px;

    }

    #lista-footer-2 {
        margin: 0px 50px 0px 0px;
        padding: 0;
        align-items: flex-start;
    }

    #lista-footer-navegador {
        width: 100%;
    }

    #copyright-PC {
        display: none;
    }

    #copyright-Mobile {
        display: block;
        order: -1;
        text-align: center;
    }

   
}